{% extends "body.html" %}
{% block body %}
<div class="w3-container" id="login" style="margin-top:85px">
  <h1 class="w3-xxxlarge w3-text-red"><b>Faça o Login</b></h1>
  <hr style="width:50px;border:5px solid red" class="w3-round">
  <p>Faça o Login para ter acesso as ferramentas</p>
    <form method="post" id="personForm" >
          {% csrf_token %}
          <div class="w3-section">
          <label for="id_usurname">Usuario:</label>
          <div class="username">{{ form.username }}</div>
          <label for="id_password">Senha:</label>
          <div class="password">{{ form.password }}</div>
                    
          <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Login</button>
        </div>
    </form>
</div>

{% endblock %}